<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853677427401-9ruom7t23cd5l693ve6l3vctpgvpohpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853677427401-9ruom7t23cd5l693ve6l3vctpgvpohpj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>853677427401-p9ck239cuvu8ebtnh343muamcr9dqipl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqFh5maunSFucf6OaderHYgjoMrKm6j94</string>
	<key>GCM_SENDER_ID</key>
	<string>853677427401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.susipero.greendayo</string>
	<key>PROJECT_ID</key>
	<string>yamyam-ac34b</string>
	<key>STORAGE_BUCKET</key>
	<string>yamyam-ac34b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853677427401:ios:7050cd82d43d6728eedb18</string>
</dict>
</plist>